@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Roman.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Avenir-Roman.otf") format("opentype"), 
    url("/fonts/Avenir-Roman.woff") format("woff"),
    url("/fonts/Avenir-Roman.ttf") format("truetype"), 
    url("/fonts/Avenir-Roman.svg#Avenir-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}
