.search-results {
  .found-companies {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .search-item {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 16px auto;
    padding: 0 0 20px 60px;
    font-size: 16px;
    h4 {
      font-size: 18px;
    }
    .mark {
      padding: 0 5px;
      margin-right: 10px;
      border-radius: 3px;
      background: #e6e6e6;
    }
    .link {
      
    }
    span {
      margin-right: 10px;
    }
  }
}