.search-page {
  height: 100%;
  background: #F6F6F6;
  .container {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 100%;
    background: #fff;
  }
  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  .search-box {
    padding-bottom: 40px;
    .search-field {
      input, select {
        border: 1px solid #cccccc;
        border-right: none;
      }
      input {
        border-radius: unset;
      }
      select {
        border-left: none;
      }
      button {
        background-color: #219db3;
        border-radius: unset;
        border: none;
        &:hover {
          background-color: #1d8a9d;
        }
      }
    }
  }
}