.sp-icon-1c {
  font-size: 10px;
  background-position: -0.5em -0.5em;
  width: 6.46em;
  height: 3.492em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-active-checkbox {
  font-size: 10px;
  background-position: -0.5em -5em;
  width: 2.3em;
  height: 2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-angle {
  font-size: 10px;
  background-position: -0.5em -8em;
  width: 1.2em;
  height: 0.7em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-app-store {
  font-size: 10px;
  background-position: -0.5em -9.7em;
  width: 13.5em;
  height: 4em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-app-store-inverse {
  font-size: 10px;
  background-position: -0.5em -14.7em;
  width: 14em;
  height: 4em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-arrow {
  font-size: 10px;
  background-position: -0.5em -19.7em;
  width: 1.4em;
  height: 1.2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-attention {
  font-size: 10px;
  background-position: -0.5em -21.9em;
  width: 2.2em;
  height: 2.2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-black-angle {
  font-size: 10px;
  background-position: -0.5em -25.1em;
  width: 1.2em;
  height: 0.7em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-check {
  font-size: 10px;
  background-position: -0.5em -26.8em;
  width: 1.5em;
  height: 1.6em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-checkbox {
  font-size: 10px;
  background-position: -0.5em -29.4em;
  width: 2.3em;
  height: 2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-chrome-logo {
  font-size: 10px;
  background-position: -0.5em -32.4em;
  width: 4.2em;
  height: 4.2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-close {
  font-size: 10px;
  background-position: -0.5em -37.6em;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-close-dark {
  font-size: 10px;
  background-position: -0.5em -40.6em;
  width: 3.2em;
  height: 3.2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-close-turquoise {
  font-size: 10px;
  background-position: -0.5em -44.8em;
  width: 1.6em;
  height: 1.6em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-document {
  font-size: 10px;
  background-position: -0.5em -47.4em;
  width: 6em;
  height: 6em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-download {
  font-size: 10px;
  background-position: -0.5em -54.4em;
  width: 1.7em;
  height: 2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-edge-logo {
  font-size: 10px;
  background-position: -0.5em -57.4em;
  width: 4.2em;
  height: 4.2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-excel {
  font-size: 10px;
  background-position: -0.5em -62.6em;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-explorer-logo {
  font-size: 10px;
  background-position: -0.5em -65.6em;
  width: 4.2em;
  height: 4.2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-facebook {
  font-size: 10px;
  background-position: -0.5em -70.8em;
  width: 3.5em;
  height: 3.5em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-failed {
  font-size: 10px;
  background-position: -0.5em -75.3em;
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-firefox-logo {
  font-size: 10px;
  background-position: -0.5em -77.7em;
  width: 4.2em;
  height: 4.2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-google-play {
  font-size: 10px;
  background-position: -0.5em -82.9em;
  width: 13.5em;
  height: 4em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-google-play-inverse {
  font-size: 10px;
  background-position: -0.5em -87.9em;
  width: 14em;
  height: 4em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-green-check {
  font-size: 10px;
  background-position: -0.5em -92.9em;
  width: 1.6em;
  height: 1.5em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-grey-angle {
  font-size: 10px;
  background-position: -0.5em -95.4em;
  width: 1.2em;
  height: 0.7em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-grey-app-store {
  font-size: 10px;
  background-position: -0.5em -97.1em;
  width: 14em;
  height: 4em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-grey-google-play {
  font-size: 10px;
  background-position: -0.5em -102.1em;
  width: 14em;
  height: 4em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-ido {
  font-size: 10px;
  background-position: -0.5em -107.1em;
  width: 3.7em;
  height: 3.7em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-ifr {
  font-size: 10px;
  background-position: -0.5em -111.8em;
  width: 3.5em;
  height: 3.5em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-in {
  font-size: 10px;
  background-position: -0.5em -116.3em;
  width: 3.5em;
  height: 3.5em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-ipd {
  font-size: 10px;
  background-position: -0.5em -120.8em;
  width: 3.5em;
  height: 3.9em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-lock {
  font-size: 10px;
  background-position: -0.5em -125.7em;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-logo {
  font-size: 10px;
  background-position: -0.5em -128.7em;
  width: 20.8em;
  height: 4.6em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-logo-interfax {
  font-size: 10px;
  background-position: -0.5em -134.3em;
  width: 30.5em;
  height: 2.5em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-magnifier {
  font-size: 10px;
  background-position: -0.5em -137.8em;
  width: 1.7em;
  height: 1.7em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-magnifier-dark {
  font-size: 10px;
  background-position: -0.5em -140.5em;
  width: 3.9em;
  height: 3.9em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-mastercard-logo {
  font-size: 10px;
  background-position: -0.5em -145.4em;
  width: 16.5em;
  height: 2.1em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-mobile-app {
  font-size: 10px;
  background-position: -0.5em -148.5em;
  width: 6em;
  height: 10.9em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-opera-logo {
  font-size: 10px;
  background-position: -0.5em -160.4em;
  width: 4.2em;
  height: 4.2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-pdf {
  font-size: 10px;
  background-position: -0.5em -165.6em;
  width: 5.3em;
  height: 2.7em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-pencil {
  font-size: 10px;
  background-position: -0.5em -169.3em;
  width: 1.6em;
  height: 1.6em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-play {
  font-size: 10px;
  background-position: -0.5em -171.9em;
  width: 0.9em;
  height: 1.1em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-recycle-bin {
  font-size: 10px;
  background-position: -0.5em -174em;
  width: 1.1em;
  height: 1.9em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-revert {
  font-size: 10px;
  background-position: -0.5em -176.9em;
  width: 1.6em;
  height: 2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-right-angle-turquoise {
  font-size: 10px;
  background-position: -0.5em -179.9em;
  width: 0.6em;
  height: 1em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-right-angle-white {
  font-size: 10px;
  background-position: -0.5em -181.9em;
  width: 0.6em;
  height: 1em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-risk-factors {
  font-size: 10px;
  background-position: -0.5em -183.9em;
  width: 2em;
  height: 2.5em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-safari-logo {
  font-size: 10px;
  background-position: -0.5em -187.4em;
  width: 4.2em;
  height: 4.2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-sberbank-online-logo {
  font-size: 10px;
  background-position: -0.5em -192.6em;
  width: 15.4em;
  height: 5.3em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-sp-icon-close {
  font-size: 10px;
  background-position: -0.5em -198.9em;
  width: 3.2em;
  height: 3.2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-star-grey {
  font-size: 10px;
  background-position: -0.5em -203.1em;
  width: 7.4em;
  height: 1.36em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-star-ogange {
  font-size: 10px;
  background-position: -0.5em -205.5em;
  width: 7.4em;
  height: 1.36em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-star-ogange-single {
  font-size: 10px;
  background-position: -0.5em -207.9em;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-star-white {
  font-size: 10px;
  background-position: -0.5em -210.9em;
  width: 7.4em;
  height: 1.36em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-star-white-single {
  font-size: 10px;
  background-position: -0.5em -213.3em;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-twitter {
  font-size: 10px;
  background-position: -0.5em -216.3em;
  width: 1.9em;
  height: 1.6em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-visa-logo {
  font-size: 10px;
  background-position: -0.5em -218.9em;
  width: 6.7em;
  height: 2.2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-vk {
  font-size: 10px;
  background-position: -0.5em -222.1em;
  width: 3.5em;
  height: 3.5em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-vkontact {
  font-size: 10px;
  background-position: -0.5em -226.6em;
  width: 2.5em;
  height: 1.3em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-yandex-logo {
  font-size: 10px;
  background-position: -0.5em -228.9em;
  width: 4.2em;
  height: 4.2em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.sp-icon-yandex-money-logo {
  font-size: 10px;
  background-position: -0.5em -234.1em;
  width: 14.3em;
  height: 2.8em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.rating-star {
  font-size: 10px;
  background-position: -0.5em -210.9em;
  width: 7.4em;
  height: 1.36em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.rating-star__active {
  font-size: 10px;
  background-position: -0.5em -205.5em;
  width: 7.4em;
  height: 1.36em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.rating-star__active_grey {
  font-size: 10px;
  background-position: -0.5em -203.1em;
  width: 7.4em;
  height: 1.36em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.example-btn:before {
  font-size: 10px;
  background-position: -0.5em -47.4em;
  width: 6em;
  height: 6em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.select2-selection__arrow:after {
  font-size: 10px;
  background-position: -0.5em -8em;
  width: 1.2em;
  height: 0.7em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}
.custom-ul li:before {
  font-size: 10px;
  background-position: -0.5em -26.8em;
  width: 1.5em;
  height: 1.6em;
  vertical-align: middle;
  display: inline-block;
  background-image: url("/img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-size: 31.5em 237.4em;
}